.columns{
  max-width: 240px;
  min-width: 150px;
  width:16%;
}

.columns-lg{
  max-width: 270px;
  min-width: 180px;
  width:17%;
}
.columns-sm{
  max-width: 240px;
  min-width: 90px;
  width:9%;
}
