<hlm-sheet #drawer side="right">
  <hlm-sheet-content *brnSheetContent="let ctx">
    <hlm-sheet-header>
      <h3 hlmSheetTitle>Modifier utilisateur {{user.matricule}}</h3>
      <p hlmSheetDescription>Make changes to your profile here. Click save when you're done.</p>
    </hlm-sheet-header>
    <form [formGroup]="userForm" class="flex gap-48 flex-col" (ngSubmit)="onSubmit(ctx)">
      <div class="py-4 grid gap-4">

        <!-- Field for nom -->
        <div class="items-center grid grid-cols-4 gap-4">
          <label hlmLabel for="nom" class="text-right">Nom</label>
          <input hlmInput id="nom" formControlName="nom" class="col-span-3" />
        </div>

        <!-- Field for prenom -->
        <div class="items-center grid grid-cols-4 gap-4">
          <label hlmLabel for="prenom" class="text-right">Prenom</label>
          <input hlmInput id="prenom" formControlName="prenom" class="col-span-3" />
        </div>

        <!-- Select for port -->
        <div class="items-center grid grid-cols-4 gap-4">
          <label hlmLabel for="port" class="text-right">Port</label>
          <brn-select id="port" class="inline-block" formControlName="port" placeholder="Sélectionner un port">
            <hlm-select-trigger class="w-[248px]">
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              <hlm-option *ngFor="let port of ports" [value]="port.id">{{ port.nom }}</hlm-option>
            </hlm-select-content>
          </brn-select>
        </div>

        <!-- Multi-select for profiles -->
        <div class="items-center grid grid-cols-4 gap-4">
          <label hlmLabel for="profiles" class="text-right">Profiles</label>
          <brn-select id="profiles" class="inline-block" formControlName="profiles" placeholder="Sélectionner les profiles" [multiple]="true">
            <hlm-select-trigger class="w-[248px]" >
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              <hlm-option *ngFor="let profile of profiles" [value]="profile.id">{{ profile.nom }}</hlm-option>
            </hlm-select-content>
          </brn-select>
        </div>
      </div>

      <hlm-sheet-footer>
        @if  (loading){
          <button disabled class="px-5"   hlmBtn><hlm-icon name="lucideLoader2"  class="mr-3 animate-spin" /> Enregistrer</button>

        } @else {
          <button hlmBtn type="submit" [disabled]="userForm.invalid">Enregistrer</button>

        }
      </hlm-sheet-footer>
    </form>
  </hlm-sheet-content>
</hlm-sheet>
